html{
    height: 100%;
}

body {
    margin: 0;
    margin-left: 12%;
    margin-top: 8%;
    min-width: 600px;
    padding: 0;
    background-image: linear-gradient(to bottom right, steelblue, lightgreen);
    font-family: 'Open Sans', sans-serif;
}

nav {
    float:left;
    width: 75px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 30px;
}
nav ul{
    list-style-type: none;
    height:auto;
    width: auto;
    margin: 0;
    padding: 0;
}

nav a {
    display:block;
    width: 80%;
    height:50px;
    text-align: center;
    padding: 10% 12px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: floralwhite;
    color: dimgrey;
    transition: 0.2s;
}

nav li a img{
    height: 35px;
}

nav a:hover {
    background-color: antiquewhite;
    color: black;
    padding: 11% 15px;
    transition: 0.2s;
    box-shadow: 10px 10px 8px #888888;
}

#me-wrapper img{
    margin-bottom: 50px;
}

#me-wrapper p{
    margin: 30px;
}

#me-wrapper a{
    color: steelblue;
    font-weight: bold;
    text-decoration: none;
}
#me-wrapper a:hover{
    /*padding-left: 5px;*/
    box-shadow: 10px 10px 8px #888888;
    transition:0.2s;
    background-color: floralwhite;
}

.active {
    background-color: #4CAF50;
    color:white;
}

#look-at-me, #look-at-me-skills{
    float:left;
    position:relative;
    height:520px;
    width: 400px;
    padding:0px;
    margin-bottom: 20px;
    background-color: floralwhite;
    border: lightgrey solid 1px;
    transition: 0.2s;
}
#look-at-me:hover, #look-at-me-skills:hover{
    padding:5px;
    background-color: antiquewhite;
    transition: 0.2s;
    box-shadow: 10px 10px 8px #888888;
    z-index: 10;
}

#look-at-me{
    text-align: center;
}

#look-at-me img{
    float:left;
    width: 100%;
}

#look-at-me p {
    color: #4CAF50;
    font-weight: bold;
}

#look-at-me a {
    display:block;
    float:left;
    width: 49.5%;
    padding: 10px 0px;
    margin: 0px;
    border: grey solid 1px;
}

#look-at-me-skills{
    width: 50%;
    max-width:800px;
    min-width: 505px;
    height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Select the entire scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    background-color: #F5F5F5; /* Set the background color of the scrollbar */
}

/* Select the portion of the scrollbar that represents the content */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the background color of the thumb */
    border-radius: 5px; /* Round the edges of the thumb */
}

/* Select the portion of the scrollbar that is not filled with the content */
::-webkit-scrollbar-track {
    background-color: #F5F5F5; /* Set the background color of the track */
    border-radius: 5px; /* Round the edges of the track */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1); /* Add a shadow to the track */
}

#about-me, #contact{
    float:left;
    width: 46%;
    height: 300px;
    padding: 2%;
    color: grey;
    font-weight: bold;
}
#about-me{
    overflow-y: auto;
    overflow-x: hidden;
}
#about-me h3{
    margin: 0px;
    color: #4CAF50;
}
#about-me p{
    margin: 10px;
}
#contact{
    overflow: hidden;
}
.contact-content, .contact-header{
    width: 75%;
    padding: 5px;
    margin-bottom: 10px;
}
.contact-content{
    float:right;
    /*background-color: green;*/
    background-image: linear-gradient(to right, mediumseagreen, lightseagreen);
    color: white;
    border-radius: 5px 0px 0px 5px;
}
.contact-header{
    float:left;
    color:steelblue;
}

.skill-block{
    float:left;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.skill-block-header{
    width: 100%;
    text-decoration: underline;
    color: #4CAF50;
}
.skill-block img{
    height: 75px;
    padding: 20px;
}
.skill{
    float:left;
    width: 32.9%;
    text-align: center;
    border: lightgrey solid 1px;
}
.skill span{
    float:left;
    width: 100%;
    color: steelblue;
    font-weight: bolder;
}